body {
  margin: 0;
}

.thumbnails,
#title_wrapper{
  display: none;
}

.stack_grid_frame {
  display: none;
}

.mob_thumbnails {
  position: sticky;
  top: 0;
  width: 100%;
  height: 800px;
  z-index: -2;
}

.mob_titles {
  position: sticky;
  top: 400px;
  height: 800px;
}

.mob_titles h1 {
  width: 280px;
  font-size: 60px;
  font-weight: 400;
  margin: 16px 24px;
}

.mob_titles time {
  font-size: 18px;
  font-weight: 400;
  margin: 0 24px;
}

/* overlay order */
#mob_img1 {
  z-index: -10;
}
#mob_img2{
  z-index: -8;
}
#mob_img3 {
  z-index: -6;
}
#mob_img4 {
  z-index: -4;
}
#mob_img5 {
  z-index: -2;
}
#mob_title1 {
  z-index: -9;
}
#mob_title2 {
  z-index: -7;
}
#mob_title3 {
  z-index: -5;
}
#mob_title4 {
  z-index: -2;
}
#mob_title5 {
  z-index: -1;
}

@media (min-width: 600px) {
  /* disappear */
  .mob_thumbnails ,
  .mob_titles{
    display: none;
  }
  

  /* thumbnail line */
  #line {
    position: absolute;
    top: 0;
    border-top: 10px solid #ffff00;
    font-size: 1px;
    animation-name: line_length;
    animation-duration: 4.0s;
    animation-iteration-count: infinite;
    transition: ease-in-out;
  }

  /* thumbnail images */
  .thumbnails {
    display: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
    animation-name: imgfade;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    opacity: 0;
  }

  /* overlap order  */
  #img1 {
    z-index: -1;
  }
  #img2 {
    z-index: -2;
    animation-delay: 4s;
  }
  #img3 {
    z-index: -3;
    animation-delay: 8s;
  }
  #img4 {
    z-index: -4;
    animation-delay: 12s;
  }
  #img5 {
    z-index: -5;
    animation-delay: 16s;
  }

  /* thumbnail letters */
  #title_wrapper {
    position: absolute;
    top:70%;
    left: 5%;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #title_wrapper > div { 
    display: flex;
    font-size: 24px;
    color: #fff;
  }

  #title_wrapper h1 {
    font-weight: 300;
    margin: 5px;
    cursor:pointer;
  }

  #lamb_title {
    transform: translateX(-80px);
  }

  #red_rocket_title {
    transform: translateX(-140px);
  }
  
  .links {
    animation-name: letter_opacity;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
  
  #img2_link {
    animation-delay: 4s;
  }
  #img3_link {
    animation-delay: 8s;
  }
  #img4_link {
    animation-delay: 12s;
  }
  #img5_link {
    animation-delay: 16s;
  }

  /* stacks */
  #stack_grid {
    margin-top: 900px;
    ;
  }

  .stack_grid_frame {
    display: flex;
    margin: 80px;
  }

  .stack_grid_frame:nth-child(even) {
    flex-flow: row-reverse;
  }

  .stack_img_container{
    width: 160%;
    height: 160%;
    overflow: hidden;
  }

  .anime_target {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }

  .anime_target:hover {
    transform: scale(1.05);
    transition: transform .5s;
  }

  .stack_text_container {
    color: #000;
    margin: 0 70px;
  }

  .stack_text_container h4 {
    font-size: 20px;
    font-weight: 300;
  }

  .stack_text_container h2 {
    font-size: 58px;
    font-weight: 400;
  }

  .stack_text_container div {
    display: flex;
  }

  .stack_text_container span {
    font-size: 24px;
    font-weight: 300;
    margin-right: 40px;
  }

  /* keyframes */
  @keyframes imgfade {
    0% {
      opacity: 0.6;
    }
    15% {
      filter: blur(0px);
    }
    20% {
      filter: blur(10px);
      opacity: 1;
    }
    25% {
      filter: blur(0px);
      opacity: 0;
    }
  }
  @keyframes line_length {
    75% {
      width: 0%;
    }
    97% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  @keyframes letter_opacity {
    0% {
      opacity: 0.5;
    }
    18% {
      opacity: 0.5;
    }
    20% {
      opacity: 1;
    }
  }
}

.show {
  opacity: 1;
  transition: opacity 2s;
}